
* {
	background-color: black;
	text-align: center;
}

h1, h5 {
	color: white;
}

h4 {
	color: gray;
}

p {
	color: red;
}

.links {
	color: teal;
}

.footer {
	padding-top: 20px;
}

